<h1>Add new Car</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <form action="admin/insert" method="post" style="padding-top:20%">
      <div class="form-group">
        <label for="email">Image path</label>
        <input type="text" id="imagePath" name="imagePath" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Title</label>
        <input type="text" id="title" name="title" class="form-control" required>
      </div>
      <div class="input">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" class="form-control" cols="30" rows="4" required>{{EmailHTML}}</textarea>
      </div>
      <div class="input" style="padding:4% 0 4% 0;">
        <select id="type" name="type" class="form-control" required>
          <option value="">(Select type)</option>
          <option value="personal">personal</option>
          <option value="terrain">terrain</option>
        </select>
      </div>
      <div class="input">
        <label for="carNumber">Number of Cars</label>
        <input type="text" id="carNumber" name="carNumber" class="form-control" required>
      </div>
      <div class="input">
        <label for="price">Price</label>
        <input type="text" id="price" name="price" class="form-control" required>
      </div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>
</div>




<!-- <section class="get">
  <h3>All Data</h3>
  <div>
    {{# each items }}
      <article class="item">
        <div>Title: {{ this.title }}</div>
        <div>Type: {{ this.type }}</div>
        <div>Price: {{ this.price }}</div>
        <div>ID: {{ this._id }}</div>
        <hr>
      </article>
    {{/each}}
  </div>
</section> -->


<!-- <section class="update">
  <h3>Update Data</h3>
  <form action="admin/update" method="post">
    <div class="input">
      <label for="id">ID</label>
      <input type="text" id="id" name="id">
    </div>
    <div class="input">
      <label for="imagePath">imagePath</label>
      <input type="text" id="imagePath" name="imagePath">
    </div>
    <div class="input">
      <label for="title">Title</label>
      <input type="text" id="title" name="title">
    </div>
    <div class="input">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" cols="30" rows="4">{{EmailHTML}}</textarea> -->
      <!-- <input type="textarea rows='5'" id="description" name="description"> -->

    <!-- </div><br>
    <div class="input">
      <select id="type" name="type" class="form-control">
        <option value="">(Select type)</option>
        <option value="personal">personal</option>
        <option value="terrain">terrain</option>
      </select>
    </div>
    <div class="input">
      <label for="price">Price</label>
      <input type="text" id="price" name="price">
    </div>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <button type="submit">UPDATE</button>
  </form>
</section> -->


<!-- <section class="delete">
  <h3>Delete Data</h3>
  <form action="admin/delete" method="post">
    <div class="input">
      <label for="id">ID</label>
      <input type="text" id="id" name="id">
    </div>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    <button type="submit">DELETE</button>
  </form>
</section> -->
