<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    <div id="success" class="alert alert-success" {{#if noMessages}} hidden {{/if}}>
      {{ successMsg }}
    </div>
  </div>
</div>

<!-- Duo IMG -->
<div class="splitview skewed">

<div class="panel bottom">
  <div class="content">
    <div class="description">
      <h1 class="split col-sm-5 hidden-xs">The <span class="personal">Personal</span> vehicle.</h1>
    </div>
    <img src="http://res.cloudinary.com/dllclpxlh/image/upload/v1493977417/mercedes-benzE_hmwrgj.png" alt="Original">
  </div>
</div>

<div class="panel top">
  <div class="content">
    <div class="description">
      <h1 class="split col-sm-5 hidden-xs">The <span class="terrain">Terrain</span> vehicle.</h1>
    </div>
    <img src="http://res.cloudinary.com/dllclpxlh/image/upload/v1493977409/audi-q5_rq44hp.png" alt="Duotone">
  </div>
</div>

<div class="handle"></div>
</div>


<div class="container">
  <form action="/" method="post">
    <div class="row clearfix">
      <div class="col-md-4 column">
        <select id="carName" name="carName" class="form-control">
          <option value="">(Show All Vehicles)</option>
          <option value="personal">Personal vehicles</option>
          <option value="terrain">Terrain vehicles</option>
        </select>
      </div>
      <div class="col-md-8 column">
        <!-- Button -->
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button id="btnFilterNotes" name="btnFilterNotes" class="btn btn-primary" type="submit">Filter ></button>
      </div>
    </div>
  </form>
</div>

<div class="statistic col-sm-2 col-md-push-9 col-sm-push-9">
  <a type="button" class="btn btn-warning btn-block" href="#" data-toggle="modal" data-target="#statistic">Statistic</a>
</div>

<div class="modal fade" id="statistic" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Number of Reservations for 2016</h4>
      </div>
      <div class="modal-body">

        <div class="container">
          <canvas id="myChart"></canvas>
        </div>

        </div>
      </div>
  </div>
</div>



<br /><br />

<div class="container">
	<table id="cart" class="table table-responsive">
		<thead>
  		<tr class="names">
  			<th style="width:80%">Product</th>
  			<th style="width:10%" class="text-right">Price</th>
  			<th style="width:50%" class="text-right hidden-xs">+/-</th>
  			<th style="width:5%"></th>
  		</tr>
	  </thead>

  {{# each products }}
  {{ user.admin }}
	<tbody>
    {{# each this }}
		<tr class="item">
			<td data-th="Product">
				<div class="row">
					<div class="col-sm-3 hidden-xs"><a href="{{this.links}}"><img src="{{ this.imagePath }}" alt="{{ this.title }}" class="img-product img-responsive img-rounded"/></a></div>
					<div class="col-sm-9">
						<h4 class="nomargin"><a href="{{this.links}}">{{ this.title }}</a></h4>
						<p class="hidden-xs">{{ this.description }}</p>
					</div>
				</div>
			</td>
			<td data-th="Price" class="text-right">&euro;{{ this.price }}</td>
      </td>

      <td colspan="5" class="buttons text-right hidden-xs">
        <form class="form-inline" action="admin/update/{{this._id}}" method="get">
          <div class="input-group">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" name="button" class="btn btn-success btn-simple btn-md" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          </div>
        </form>
      </td>

    <tr class="no-border">
      <td></td>

      <td colspan="5">
        <form class="form-inline" action="add-to-cart/{{this._id}}" method="get">
          <div class="input-group">
            <input type="date" id="{{this._id}}" name="date" min="" max="2017-07-30">
            <input type="text" name="numDays" id="{{this._id}}" class="numDays form-control" placeholder="Days">
            <span class="input-group-btn">
              <button type="submit" name="button" class="btn btn-success" id="bt">Rent-a-Car <i class="fa fa-angle-right"></i></button>
            </span>
          </div>
        </form>
      </td>

    </tr>
	</tbody>

  <script>
  var today = new Date().toISOString().split('T')[0];
  document.getElementById("{{this._id}}").setAttribute('min', today);
  </script>

  {{/each}}
    {{/each}}
	</table>
</div>

<script type="text/javascript" src="javascripts/splitImg.js"></script>
<script type="text/javascript" src="javascripts/carChart.js"></script>
