<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    <div id="success" class="alert alert-success" {{#if noMessages}} hidden {{/if}}>
      {{ successMsg }}
    </div>
  </div>
</div>

<div class="container">
  <form action="/" method="post">
    <div class="row clearfix">
      <div class="col-md-4 column">
        <select id="carName" name="carName" class="form-control">
          <option value="">(Show All Vehicles)</option>
          <option value="personal">Personal vehicles</option>
          <option value="terrain">Terrain vehicles</option>
        </select>
      </div>
      <div class="col-md-8 column">
        <!-- Button -->
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button id="btnFilterNotes" name="btnFilterNotes" class="btn btn-primary" type="submit">Filter ></button>
      </div>
    </div>
  </form>
</div>
<br /><br />

<div class="container">
	<table id="cart" class="table table-responsive">
		<thead>
  		<tr class="names">
  			<th style="width:80%">Product</th>
  			<th style="width:10%" class="text-right hidden-xs">Price</th>
  			<th style="width:15%" class="text-right">Days</th>
  			<th style="width:50%" class="text-right"></th>
  			<th style="width:10%" class="text-right">Amount</th>
  			<th style="width:5%"></th>
  		</tr>
	  </thead>

  {{# each products }}
	<tbody>
    {{# each this }}
		<tr class="item">
			<td data-th="Product">
				<div class="row">
					<div class="col-sm-3 hidden-xs"><a href="{{this.links}}"><img src="{{ this.imagePath }}" alt="{{ this.title }}" class="img-product img-responsive img-rounded"/></a></div>
					<div class="col-sm-9">
						<h4 class="nomargin"><a href="{{this.links}}">{{ this.title }}</a></h4>
						<p class="hidden-xs">{{ this.description }}</p>
					</div>
				</div>
			</td>
			<td data-th="Price" class="text-right hidden-xs">&euro;{{ this.price }}</td>
			<td data-th="Quantity" id="quantity" class="text-right">1</td>
      <td data-th="Buttons" class="text-right">
        <button type="button" class="btn btn-success btn-simple btn-xs" value="Increase" id="inc" onclick="incNumber()">
          <i class="fa fa-plus" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-danger btn-simple btn-xs" value="Decrease" id="dec" onclick="decNumber()">
          <i class="fa fa-minus"></i></button>
			</td>
			<td data-th="Subtotal" class="text-right"><strong>€109.99</strong></td>

      <!-- <td>
        <form action="/" method="get">
          <input type="hidden" name="qtyVal" value="{{ ?? }}">
        </form>
      </td> -->

		</tr>

    <tr class="no-border">
      <td colspan="2" class="hidden-xs"></td>
      <td></td>
      <td colspan="2"><a href="add-to-cart/{{this._id}}" class="btn btn-success btn-block">Rent-a-Car <i class="fa fa-angle-right"></i></a></td>
    </tr>
	</tbody>
  {{/each}}
    {{/each}}
	</table>
</div>

<script type="text/javascript">
  let i = 1;
  function incNumber() {
    if (i < 10) i++;
    else if (i = 10) i = 1;
    document.getElementById("quantity").innerHTML = i;
  }

  function decNumber() {
    if (i > 1) i--;
    document.getElementById("quantity").innerHTML = i;
  }

  var x = document.getElementById('quantity').innerHTML;
  console.log(x);
</script>
